In [1]:
import os               

os.chdir('..') # to be able to import 
import pandas as pd

from db_utils import (create_db, create_embeddings_table,
                      create_pgvector_extension, delete_db,
                      insert_data_into_table, pg_connection)

In [2]:
# create a database
DB_NAME = 'test_db'
create_db(db_name=DB_NAME)

INFO:root:Database 'test_db' created successfully

In [3]:
# create the pgvector extension
create_pgvector_extension(db_name=DB_NAME)

INFO:root:pgvector extension created

In [4]:
# create the embeddings table
create_embeddings_table(DB_NAME)

INFO:root:Embeddings table 'pg_embeddings_test' created.

In [5]:
# viewing the embeddings table
TB_NAME = 'pg_embeddings_test'
CONN = pg_connection(db_name=DB_NAME)
pd.read_sql_query(f'SELECT * FROM {TB_NAME}', CONN)

/tmp/ipykernel_18239/146122205.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(f'SELECT * FROM {TB_NAME}', CONN)

Empty DataFrame
Columns: [id, chunk, embedding]
Index: []

In [6]:
# inserting data in the embeddings table
text_chunks = ['hello', 'world', 'how', 'are', 'you']
text_embeddings = [[0.1, 0.2], [0.3, 0.4], [0.5, 0.6], [0.7, 0.8], [0.9, 1.0]] # fake embeddings 
insert_data_into_table(DB_NAME, text_chunks, text_embeddings, TB_NAME)
pd.read_sql_query(f'SELECT * FROM {TB_NAME}', CONN)

INFO:root:Data inserted into table 'pg_embeddings_test'. Failed chunks: 0
/tmp/ipykernel_18239/3580995286.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(f'SELECT * FROM {TB_NAME}', CONN)

                                     id  chunk  embedding
0  b3b8592d-9c17-4578-854a-7da73d524b70  hello  [0.1,0.2]
1  bf0bf6d4-4935-4916-a34d-f6b327245263  world  [0.3,0.4]
2  c0091549-68cb-4216-b510-0d1bbdb4d60b    how  [0.5,0.6]
3  41d1e486-429c-4c8c-b525-b6371515fbb1    are  [0.7,0.8]
4  db66e572-6594-4464-bf87-5ab9a5618c5d    you    [0.9,1]

In [7]:
# deleting all databases
CONN.close()
delete_db(DB_NAME)

INFO:root:Database test_db deleted